@font-face {
  font-family: "Manrope-Regular";
  src: url(../font/Manrope-Regular.ttf);
  src: local("Manrope-Regular"), url("../font/Manrope-Regular.eot") format("eot"), url("../font/Manrope-Regular.woff") format("woff"), url("../font/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../font/Montserrat-Bold.ttf);
  src: local("Montserrat-Bold"), url("../font/Montserrat-Bold.eot") format("eot"), url("../font/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../font/Montserrat-Medium.ttf);
  src: local("Montserrat-Medium"), url("../font/Montserrat-Medium.eot") format("eot"), url("../font/Montserrat-Medium.woff") format("woff"), url("../font/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../font/Montserrat-Regular.ttf);
  src: local("Montserrat-Regular"), url("../font/Montserrat-Regular.eot") format("eot"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../font/Montserrat-SemiBold.ttf);
  src: local("Montserrat-SemiBold"), url("../font/Montserrat-SemiBold.eot") format("eot"), url("../font/Montserrat-SemiBold.woff") format("woff"), url("../font/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Neue-Metana";
  src: url(../font/Neue-Metana.ttf);
  src: local("Neue-Metana"), url("../font/Neue-Metana.eot") format("eot"), url("../font/Neue-Metana.woff") format("woff"), url("../font/Neue-Metana.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothicLTExtended";
  src: url(../font/TradeGothicLTExtended.ttf);
  src: local("TradeGothicLTExtended"), url("../font/TradeGothicLTExtended.eot") format("eot"), url("../font/TradeGothicLTExtended.woff") format("woff"), url("../font/TradeGothicLTExtended.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothicLTStd-BoldExt";
  src: url(../font/TradeGothicLTStd-BoldExt.ttf);
  src: local("TradeGothicLTStd-BoldExt"), url("../font/TradeGothicLTStd-BoldExt.eot") format("eot"), url("../font/TradeGothicLTStd-BoldExt.woff") format("woff"), url("../font/TradeGothicLTStd-BoldExt.woff2") format("woff2");
}

.footer__link,
.footer__text {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.footer__input::-webkit-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input::-moz-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input:-ms-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input::-ms-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input::placeholder,
.footer__input {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__button,
.menu__link {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
}

.footer__nav-titel,
.footer__subtitel,
.footer__titel {
  font-family: "TradeGothicLTStd-BoldExt";
  font-style: normal;
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  background: #FAFBFC;
  height: 100%;
  color: #112211;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #fff;
  width: 100%;
}

.nav {
  padding: 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
}

.menu__link {
  font-size: 14px;
  line-height: 120%;
}

.menu__link_airplane {
  padding-left: 28px;
  position: relative;
}

.menu__link_airplane::before {
  background: url(../img/airplane.svg);
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 24px;
  height: 20px;
}

.menu__link_hotel {
  padding-left: 28px;
  position: relative;
}

.menu__link_hotel::before {
  background: url(../img/hotel.svg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 18px;
}

.menu__link_sign {
  background: #112211;
  padding: 15px 24px;
  color: #fff;
  border-radius: 8px;
}

.logo__img {
  position: relative;
  z-index: 5;
}

.menu-mobile,
.menu-btn {
  display: none;
}

.footer {
  background: #8DD3BB;
  padding-top: 218px;
  padding-bottom: 64px;
  width: 100%;
  position: relative;
}

.footer__box {
  background: #CDEAE1;
  max-width: 1232px;
  width: 100%;
  padding: 0 24px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: -154px;
}

.footer__mail {
  padding: 24px 0;
}

.footer__titel {
  max-width: 350px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 120%;
  color: #112211;
}

.footer__subtitel {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 120%;
  color: #112211;
  opacity: 0.8;
}

.footer__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
  opacity: 0.7;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}

.footer__input {
  padding: 18px 16px;
  max-width: 473px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__button {
  background: #112211;
  padding: 19px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  cursor: pointer;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 12px;
}

.footer__social-link {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__social-link:hover {
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.footer__nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 0 24px;
}

.footer__nav-titel {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
}

.footer__item {
  margin-bottom: 12px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  color: #1b0c03;
  opacity: 1;
}

@supports (-webkit-appearance:none) {
  .menu__link_airplane::before {
    background-image: url(../img/airplane.svg);
  }

  .menu__link_hotel::before {
    background-image: url(../img/hotel.svg);
  }
}

@media (max-width: 610px) {
  .header {
    position: fixed;
  }

  .nav {
    padding: 12px 0;
  }

  .menu {
    display: none;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link_airplane::before {
    top: 4px;
  }

  .menu__link_hotel::before {
    top: 6px;
  }

  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 125, 204, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu-mobile._active {
    left: 0;
  }

  .menu-mobile::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    background-color: #fff;
    z-index: 2;
  }

  .menu-btn {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    background-color: transparent;
    border: none;
  }

  .menu-btn span,
  .menu-btn::before,
  .menu-btn::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu-btn::before,
  .menu-btn::after {
    content: "";
  }

  .menu-btn::before {
    top: 0;
  }

  .menu-btn::after {
    bottom: 0;
  }

  .menu-btn span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }

  .menu-btn._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }

  .menu-btn._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-btn._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }

@supports (-webkit-appearance:none) {

}
}