@import 'block/font';
@import 'block/let';
@import 'block/reset';
@import 'block/global';
//Main Global
//Search
.search {
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    &__titel {
        @extend %Montserrat-SemiBold;
        font-size: 20px;
        line-height: 120%;
        color: #112211;
    }
    &__info {
        margin: 32px 0;
        display: flex;
        justify-content: space-between;
    }
    &__fieldset {
        max-width: 324px;
        width: 100%;
        padding:0 5px 5px 5px;
        border: 1px solid #79747E;
        border-radius: 4px;
        &_lite {
            max-width: 140px;
            width: 100%
        }
        &_width {
            max-width: 240px;
            width: 100%;
        }
        &_xl {
            max-width: 420px;
            width: 100%;
        }
    }
    &__legend {
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #1C1B1F;
        &::placeholder {
            @extend %Montserrat-Regular;
            font-size: 16px;
            line-height: 120%;
            color: #1C1B1F;
        }
        &_img {
            padding-left: 35px;
            background: url(../img/hotel.svg) no-repeat 1% center;
        }
        &_vector {
            padding-right: 22px;
            background: url(../img/search/vector.svg) no-repeat 98% center;
        }
    }
    &__select-plane {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #1C1B1F;
    }
    &__select-room {
        width: 100%;
        padding: 10px 10px 10px 30px;
        border: none;
        outline: none;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #1C1B1F;
        &_img {
            background: url(../img/search/man.svg) no-repeat 2% center;
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
    }
    &__input-code {
        padding: 10px;
        border: none;
        outline: none;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        &::placeholder {
            @extend %Montserrat-Medium;
            font-size: 14px;
            line-height: 120%;
            color: #112211;
        }
    }
    &__btn {
        padding: 16px 16px 16px 34px;
        background-color: #8DD3BB;
        border: none;
        border-radius: 4px;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        cursor: pointer;
        position: relative;
        transition: 0.3s;
        &::before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            top: 18px;
            left: 16px;
        }
        &:hover {
            background-color: #e7e76a;
        }
        &_plane::before {
            background: url(../img/search/plane.png);
        }
        &_build::before {
            width: 15px;
            height: 16px;
            top: 15px;
            left: 14px;
            background: url(../img/search/building.svg);
        }
    }
}
//Heading
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__titel {
        margin-bottom: 16px;
        @extend %Montserrat-SemiBold;
        font-size: 32px;
        line-height: 120%;
        color: #000;
    }
    &__subtitel {
        max-width: 860px;
        width: 100%;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
        opacity: 0.75;
    }
    &__link-btn {
        padding: 12px 16px;
        background-color: #fff;
        border: 1px solid #8DD3BB;
        border-radius: 4px;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        transition: 0.3s;
        text-align: center;
        &:hover {
            background-color: #8dd3bb;
            border:1px solid #000;
        }
    }
}
//Travel
.travel {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &__card {
        width: 296px;
        padding: 286px 24px 24px 24px;
        background-image: url(../img/flight/melbourne.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        &_paris {
            background-image: url(../img/flight/paris.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &_london {
            background-image: url(../img/flight/london.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &_columbia {
            background-image: url(../img/flight/columbia.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &__info {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__titel {
        @extend %Montserrat-SemiBold;
        font-size: 24px;
        line-height: 120%;
        color: #fff;
    }
    &__text {
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 120%;
        color: #fff;
    }
    &__priсe {
        @extend %Montserrat-SemiBold;
        font-size: 24px;
        line-height: 120%;
        color: #fff;
    }
    &__btn {
        width: 100%;
        padding: 16px;
        background-color: #8DD3BB;
        border-radius: 4px;
        border: none;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #e7e76a;
        }
    }
}
//Listing
.listing {
    padding: 50px 0 274px 0;
    &__box-shadow {
        box-shadow: 0 4px 16px rgba( 17, 34, 17, 0.3);
    }
    &__info {
        margin: 12px 0;
    }
    &__input {
        width: 56px;
        height: 56px;
        position: relative;
        top: 8px;
        background-color: #8DD3BB;
        background-image: url(../img/glass.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #e7e76a;
            background-image: url(../img/glass.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__box {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 343px 2fr;
        gap: 0 23px;
    }
    &__content-inner {
        padding: 0 0 5px 15px;
        border-left: 1px solid rgba(22, 41, 18, 0.3)
    }
    &__butttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 16px rgba( 17, 34, 17, 0.3);
    }
    &__btn {
        max-width: 160px;
        width: 100%;
        padding: 18px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        border: 4px solid #fff;
        cursor: pointer;
        @extend %Montserrat-SemiBold;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
    }
    &__btn_other {
        padding: 30px 10px 31px 39px;
        position: relative;
    }
    &__btn-span {
        display: block;
        margin-top: 8px;
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.6;
    }
    &__border {
        width: 48px;
        height: 2px;
        background-color: #D7E2EE;
        transform: rotate(90deg);
    }
    &__burger {
        position: absolute;
        top: 39px;
        left: 10px;
        display: block;
        width: 17px;
        height: 2px;
        background-color: #000;
    }
    &__burger::after,
    &__burger::before {
        content: "";
        position: absolute;
        left: 0;
        width: 17px;
        height: 2px;
        background-color: #000;
    }
    &__burger::after {
        top: 8px;
    }
    &__burger::before {
        top: -7px;
    }
    &__content-filter {
        margin: 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__show {
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__places {
        color: #FF8682;
    }
    &__content-fieldest {
        display: flex;
    }
    &__content-legend {
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__content-select {
        border: none;
        background-color: #FAFBFC;
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__card-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__content-card {
        width: 100%;
        padding: 24px 16px;
        display: flex;
        justify-content: flex-start;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba( 17, 34, 17, 0.3);
    }
    &__content-img {
        width: 100%;
    }
    &__content-item {
        width: 80%;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        gap: 16px 0;
    }
    &__content-reviews {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-review {
        @extend %Montserrat-Bold;
        font-size: 12px;
        line-height: 120%;
        color: #112211;
    }
    &__rating {
        padding: 9px 11px;
        border: 1px solid #8dd3bb;
        border-radius: 4px;
        @extend %Montserrat-Medium;
        font-size: 12px;
        line-height: 120%;
        color: #112211
    }
    &__sum {
        @extend %Montserrat-Medium;
        font-size: 12px;
        line-height: 120%;
        color: #112211
    }
    &__content-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @extend %Montserrat-Medium;
        font-size: 12px;
        line-height: 120%;
        color: #112211;
    }
    &__price {
        @extend %Montserrat-Bold;
        font-size: 24px;
        line-height: 120%;
        color: #FF8682;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
    }
    &__form-box {
        display: flex;
    }
    &__form-input {
        width: 18px;
        height: 18px;
        margin-right: 12px;
    }
    &__time {
        margin-bottom: 4px;
        @extend %Montserrat-SemiBold;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
    }
    &__company {
        @extend %Montserrat-Regular;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.4;
    }
    &__info-fly {
        margin: 0 40px;
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.8;
    }
    &__form-inner {
        padding-top: 16px;
        display: flex;
        align-items: center;
        gap: 0 16px;
        border-top: 1px solid rgba(25, 50, 25, 0.3)
    }
    &__input-btn {
        width: 48px;
        height: 48px;
        border: 1px solid #8dd3bb;
        border-radius: 4px;
        background-image: url(../img/listing/heart.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #e7e76a;
            background-image: url(../img/listing/heart.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
    &__form-btn {
        width: 89%;
        height: 48px;
        background-color: #8dd3bb;
        border: none;
        border-radius: 4px;
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #e7e76a;
        }
    }
    &__content-box {
        margin-top: 24px;
        padding-left: 15px;
    }
    &__button {
        width: 100%;
        padding: 15px 0;
        background-color: #112211;
        border: none;
        border-radius: 4px;
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #e7e76a;
            color: #112211;
        }
    }
    //Mixitup
    .mixitup-control-active {
        border-bottom: 4px solid #8DD3BB;
    }
}
// /Main Global
//Header
.header {
    width: 100%;
    background-color: #fff;
}
.header_index {
    position: absolute;
    background-color: transparent;
    color: #fff;
    z-index: 10;
}
.nav {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    gap: 0 32px;
    &__link {
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        transition: 0.3s;
        &_airplane {
            padding-left: 28px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: 0;
                width: 24px;
                height: 20px;
                background-image: url(../img/airplane.svg);
            }
            &::after {
                content: "";
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: -34px;
                left: 0;
                background-color: #8DD3BB;
                display: none;
            }
            &:hover::after {
                display: block;
            }
        }
        &_hotel {
            padding-left: 28px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 18px;
                background-image: url(../img/hotel.svg);
            }
            &::after {
                content: "";
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: -34px;
                left: 0;
                background-color: #8DD3BB;
                display: none;
            }
            &:hover::after {
                display: block;
            }
        }
        &_airplane-index {
            padding-left: 28px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: 0;
                width: 24px;
                height: 20px;
                background-image: url(../img/index/airplane.svg);
            }
        }
        &_hotel-index {
            padding-left: 28px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 18px;
                background-image: url(../img/index/hotel.svg);
            }
        }
        &_color:hover {
            color: #8DD3BB;
        }
        &_sign {
            padding: 15px 24px;
            background-color: #112211;
            color: #fff;
            border-radius: 8px;
            &:hover {
                color: #8DD3BB;
            }
        }
        &_sign-index {
            padding: 15px 24px;
            background-color: #fff;
            color: #112211;
            border-radius: 8px;
            &:hover {
                background-color: #112211;
                color: #8DD3BB;
            }
        }
    }
}
.active::after {
    display: block;
}
.logo__img {
    position: relative;
    z-index: 5;
}
//Burger menu
.menu-mobile,
.menu-btn {
    display: none;
}
@media(max-width: 610px) {
    .header {
        position: fixed;
        z-index: 10;
    }
    .nav {
        padding: 12px 0;
    }
    .menu {
        display: none;
        &__link {
            font-size: 24px;
            &_airplane::before {
                top: 4px;
            }
            &_hotel::before {
                top: 6px;
            }
        }
    }
    .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba( 128, 125, 204, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu-mobile._active {
        left: 0;
    }

    .menu-mobile::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 65px;
        background-color: #fff;
        z-index: 2;
    }
    .menu-mobile_color::before {
        background-color: #7975bb;
        filter: blur(33px);
    }
    .menu-btn {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        background-color: transparent;
        border: none;
    }
    .menu-btn span,
    .menu-btn::before,
    .menu-btn::after {
        left: 0;
        position: absolute;
        width: 100%;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: black;
    }
    .menu-btn_color span,
    .menu-btn_color::before,
    .menu-btn_color::after {
        background-color: #fff;
    }
    .menu-btn::before,
    .menu-btn::after {
        content: "";
    }
    .menu-btn::before {
        top: 0;
    }
    .menu-btn::after {
        bottom: 0;
    }
    .menu-btn span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu-btn._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu-btn._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu-btn._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
//Intro
.intro {
    padding-top: 150px;
    background-image: url(../img/bgintro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 24px;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        border-radius: 24px;
    }
    &__inner {
        position: relative;
        z-index: 5;
    }
    &__suptitel {
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        color: #fff;
    }
    &__titel {
        margin: 4px 0 16px 0;
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 80px;
        line-height: 120%;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    &__subtitel {
        @extend %Montserrat-SemiBold;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #fff;
    }
    &__search {
        padding-top: 20px;
        max-width: 1232px;
        width: 100%;
        position: relative;
        z-index: 5;
        bottom: -250px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 16px rgba( 141, 211, 187, 0.3);
    }
    &__button {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    &__btn {
        padding: 0 11px 10px 32px;
        @extend %Montserrat-SemiBold;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
        cursor: pointer;
        background-color: #fff;
        border: none;
        position: relative;
        &::before {
            content: "";
            width: 24px;
            height: 20px;
            position: absolute;
            left: 0;
            top: o;
        }
        &_airplane::before {
            background: url(../img/airplane.svg);
        }
        &_hotel::before {
            background: url(../img/hotel.svg);
            width: 22px;
            height: 18px;
        }
    }
    &__span {
        width: 48px;
        height: 1px;
        display: inline-block;
        background-color: #D7E2EE;
        transform: rotate(90deg);
    }
    //Mixitup
    .mixitup-control-active {
        border-bottom: 4px solid #8DD3BB;
    }
}
//Trip
.trip {
    padding-top: 330px;
    &__content {
        margin: 40px 0 80px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
    &__link {
        display: inline-block;
    }
    &__card {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 0 16px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
        transition: 0.3s;
        &:hover {
            background-color: #79747E;
            .trip__info-titel {
                color: #0ad8ef;
                transition: 0.3s;
            }
            .trip__info-text {
                transition: 0.3s;
                color: #ff7b00;
            }
        }
    }
    &__card-img {
        width: 100%;
        border-radius: 8px;
    }
    &__info-titel {
        @extend %Montserrat-SemiBold;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
        opacity: 0.7;
    }
    &__info-text {
        margin-top: 8px;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__intro {
        width: 100%;
        display: flex;
        gap: 0 24px;
    }
    &__intro-inner {
        width: 100%;
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: -1px;
            position: absolute;
            background: #10171B;
            opacity: 0.4;
            border-radius: 20px;
        }
    }
    &__intro-img {
        width: 100%;
        border-radius: 20px;
    }
    &__intro-info {
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__intro-titel {
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 40px;
        line-height: 120%;
        color: #fff;
        text-align: center;
    }
    &__intro-text {
        margin: 8px 0 16px 0;
        max-width: 389px;
        width: 100%;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #fff;
        text-align: center;
    }
}
//Reviews
.reviews {
    padding: 70px 0 244px 0;
    &__content {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
    }
    &__card {
        padding: 24px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.3);
    }
    &__titel {
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 24px;
        line-height: 120%;
        color: #112211;
    }
    &__text {
        margin: 16px 0 12px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.5;
    }
    &__inner {
        margin-bottom: 16px;
        display: flex;
        justify-content: end;
    }
    &__link {
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        transition: 0.3s;
        &:hover {
            color: #be0404;
        }
    }
    &__stars {
        margin-bottom: 20px;
        display: flex;
        gap: 0 12px;
    }
    &__name {
        margin-bottom: 4px;
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
    }
    &__studio {
        margin-bottom: 12px;
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.5;
    }
    &__browser {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 0 8px;
    }
    &__browser-img {
        width: 100%;
    }
    &__browser-name {
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.5;
    }
    &__img {
        width: 100%;
        border-radius: 8px;
    }
}
//Footer
.footer {
    width: 100%;
    background-color: #8DD3BB;
    position: relative;
    &__box {
        max-width: 1232px;
        width: 100%;
        padding: 0 24px;
        background-color: #CDEAE1;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -154px;
        box-shadow: 0 4px 16px rgba( 17, 34, 17, 0.3);
    }
    &__mail {
        padding: 24px 0;
    }
    &__titel {
        max-width: 350px;
        margin-bottom: 24px;
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 44px;
        line-height: 120%;
        color: #112211;
    }
    &__subtitel {
        margin-bottom: 8px;
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 20px;
        line-height: 120%;
        color: #112211;
        opacity: 0.8;
    }
    &__text {
        margin-bottom: 16px;
        @extend %Montserrat-Medium;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
        opacity: 0.7;
    }
    &__form {
        display: flex;
        gap: 0 16px;
    }
    &__input {
        padding: 18px 16px;
        max-width: 473px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 4px;
        @extend %Montserrat-Regular;
        font-size: 16px;
        line-height: 120%;
        color: #1C1B1F;
        &::placeholder {
            @extend %Montserrat-Regular;
            font-size: 16px;
            line-height: 120%;
            color: #1C1B1F;
        }
    }
    &__button {
        padding: 19px 16px;
        background-color: #112211;
        border-radius: 4px;
        @extend %Montserrat-SemiBold;
        font-size: 14px;
        line-height: 120%;
        color: #fff;
        cursor: pointer;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__inner {
        position: relative;
        top: -64px;
        display: flex;
        justify-content: space-between;
    }
    &__social {
        margin-top: 24px;
        display: flex;
        gap: 0 12px;
    }
    &__social-link {
        transition: 0.4s;
        &:hover {
            transform: rotateZ(-45deg);
        }
    }
    &__nav {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        gap: 0 24px;
    }
    &__nav-titel {
        margin-bottom: 16px;
        @extend %TradeGothicLTStd-BoldExt;
        font-size: 16px;
        line-height: 120%;
        color: #112211;
    }
    &__item {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        @extend %Montserrat-Medium;
        font-size: 14px;
        line-height: 120%;
        color: #112211;
        opacity: 0.7;
        transition: 0.3s;
        &:hover {
            color: #1b0c03;
            opacity: 1;
        }
    }
}
//Media Footer
@media(max-width: 750px) {
    .footer {
        &__box {
            padding: 0 10px;
            flex-direction: column;
        }
        &__titel {
            font-size: 20px;
        }
        &__subtitel {
            font-size: 16px;
        }
        &__form {
            flex-direction: column;
        }
        &__input {
            max-width: none;
        }
        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 30px 0;
        }
        &__nav {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }
}
@media(max-width: 533px) {
    .footer {
        &__nav {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media(max-width: 365px) {
    .footer {
        &__nav {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
//Media Main and Media Main Global
@media(max-width: 1245px) {
    .travel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        &__card {
            width: 100%;
        }
    }
}
@media(max-width: 990px) {
    .search {
        &__info {
            flex-wrap: wrap;
            gap: 10px 0;
        }
    }
    .intro {
        &__suptitel {
            font-size: 30px;
        }
        &__titel {
            font-size: 60px;
        }
    }
    .trip {
        &__info-titel {
            font-size: 14px;
        }
    }
    .reviews {
        &__titel {
            font-size: 16px;
        }
        &__content {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px 0;
        }
    }
}
@media(max-width: 750px) {
    .search {
        &__button {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px 0;
        }
    }
    .intro {
        &__suptitel {
            font-size: 20px;
        }
        &__titel {
            font-size: 40px;
        }
        &__subtitel {
            font-size: 16px;
        }
    }
    .trip {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
        &__intro {
            flex-direction: column;
            gap: 30px 0;
        }
    }
}
@media(max-width: 650px) {
    .travel {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width: 557px) {
    .heading {
        flex-direction: column;
        gap: 30px 0;
        &__titel {
            font-size: 16px;
            text-align: center;
        }
        &__subtitel {
            font-size: 14px;
            text-align: center;
        }
    }
    .trip {
        &__content {
            grid-template-columns: repeat(1, 1fr);
        }
        &__card {
            justify-content: space-evenly;
        }
    }
}
//Flight Flow
@import 'block/flight-search';
@import 'block/flight-listing.scss';
//Hotel Flow
@import 'block/hotel-search';