@charset "UTF-8";

@font-face {
  font-family: "Manrope-Regular";
  src: url(../font/Manrope-Regular.ttf);
  src: local("Manrope-Regular"), url("../font/Manrope-Regular.eot") format("eot"), url("../font/Manrope-Regular.woff") format("woff"), url("../font/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../font/Montserrat-Bold.ttf);
  src: local("Montserrat-Bold"), url("../font/Montserrat-Bold.eot") format("eot"), url("../font/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../font/Montserrat-Medium.ttf);
  src: local("Montserrat-Medium"), url("../font/Montserrat-Medium.eot") format("eot"), url("../font/Montserrat-Medium.woff") format("woff"), url("../font/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../font/Montserrat-Regular.ttf);
  src: local("Montserrat-Regular"), url("../font/Montserrat-Regular.eot") format("eot"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../font/Montserrat-SemiBold.ttf);
  src: local("Montserrat-SemiBold"), url("../font/Montserrat-SemiBold.eot") format("eot"), url("../font/Montserrat-SemiBold.woff") format("woff"), url("../font/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Neue-Metana";
  src: url(../font/Neue-Metana.ttf);
  src: local("Neue-Metana"), url("../font/Neue-Metana.eot") format("eot"), url("../font/Neue-Metana.woff") format("woff"), url("../font/Neue-Metana.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothicLTExtended";
  src: url(../font/TradeGothicLTExtended.ttf);
  src: local("TradeGothicLTExtended"), url("../font/TradeGothicLTExtended.eot") format("eot"), url("../font/TradeGothicLTExtended.woff") format("woff"), url("../font/TradeGothicLTExtended.woff2") format("woff2");
}

@font-face {
  font-family: "TradeGothicLTStd-BoldExt";
  src: url(../font/TradeGothicLTStd-BoldExt.ttf);
  src: local("TradeGothicLTStd-BoldExt"), url("../font/TradeGothicLTStd-BoldExt.eot") format("eot"), url("../font/TradeGothicLTStd-BoldExt.woff") format("woff"), url("../font/TradeGothicLTStd-BoldExt.woff2") format("woff2");
}

.listing__price,
.listing__content-review {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
}

.search__input-code::-webkit-input-placeholder {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.search__input-code::-moz-placeholder {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.search__input-code:-ms-input-placeholder {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.search__input-code::-ms-input-placeholder {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.traveling__btn,
.flights__subtitel,
.footer__link,
.footer__text,
.reviews__studio,
.reviews__text,
.trip__info-text,
.listing__content-price,
.listing__sum,
.listing__rating,
.travel__btn,
.heading__link-btn,
.search__btn,
.search__input-code::placeholder,
.search__input-code {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
}

.footer__input::-webkit-input-placeholder,
.search__input::-webkit-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input::-moz-placeholder,
.search__input::-moz-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input:-ms-input-placeholder,
.search__input:-ms-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.footer__input::-ms-input-placeholder,
.search__input::-ms-input-placeholder {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.traveling__text,
.world__pass,
.footer__input::placeholder,
.footer__input,
.trip__intro-text,
.listing__company,
.listing__content-legend,
.listing__btn-span,
.travel__text,
.heading__subtitel,
.search__select-room,
.search__select-plane,
.search__input::placeholder,
.search__input,
.search__legend {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
}

.recent__titel,
.traveling__price,
.footer__button,
.trip__info-titel,
.intro__btn,
.intro__subtitel,
.menu__link,
.listing__button,
.listing__form-btn,
.listing__info-fly,
.listing__time,
.listing__content-select,
.listing__show,
.listing__btn,
.travel__priсe,
.travel__titel,
.heading__titel,
.search__titel {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
}

.traveling__total-text {
  font-family: "TradeGothicLTExtended";
  font-style: normal;
  font-weight: 400;
}

.traveling__titel,
.world__name,
.flights__titel,
.footer__nav-titel,
.footer__subtitel,
.footer__titel,
.reviews__browser-name,
.reviews__name,
.reviews__link,
.reviews__titel,
.trip__intro-titel,
.intro__titel,
.intro__suptitel {
  font-family: "TradeGothicLTStd-BoldExt";
  font-style: normal;
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  background: #FAFBFC;
  height: 100%;
  color: #112211;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.search {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.search__titel {
  font-size: 20px;
  line-height: 120%;
  color: #112211;
}

.search__info {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search__fieldset {
  max-width: 324px;
  width: 100%;
  padding: 0 5px 5px 5px;
  border: 1px solid #79747E;
  border-radius: 4px;
}

.search__fieldset_lite {
  max-width: 140px;
  width: 100%;
}

.search__fieldset_width {
  max-width: 240px;
  width: 100%;
}

.search__fieldset_xl {
  max-width: 420px;
  width: 100%;
}

.search__legend {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input::-moz-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input::placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__input_img {
  padding-left: 35px;
  background: url(../img/hotel.svg) no-repeat 1% center;
}

.search__input_vector {
  padding-right: 22px;
  background: url(../img/search/vector.svg) no-repeat 98% center;
}

.search__select-plane {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__select-room {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.search__select-room_img {
  background: url(../img/search/man.svg) no-repeat 2% center;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.search__input-code {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input-code::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input-code::-moz-placeholder {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input-code:-ms-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input-code::-ms-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__input-code::placeholder {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.search__btn {
  background: #8DD3BB;
  padding: 16px 16px 16px 34px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search__btn::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 18px;
  left: 16px;
}

.search__btn:hover {
  background: #e7e76a;
}

.search__btn_plane::before {
  background: url(../img/search/plane.png);
}

.search__btn_build::before {
  width: 15px;
  height: 16px;
  top: 15px;
  left: 14px;
  background: url(../img/search/building.svg);
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading__titel {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 120%;
  color: #000;
}

.heading__subtitel {
  max-width: 860px;
  width: 100%;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
  opacity: 0.75;
}

.heading__link-btn {
  background: #fff;
  padding: 12px 16px;
  border: 1px solid #8DD3BB;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.heading__link-btn:hover {
  background: #8dd3bb;
  border: 1px solid #000;
}

.travel {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.travel__card {
  background: url(../img/flight/melbourne.jpg) no-repeat center/cover;
  width: 296px;
  padding: 286px 24px 24px 24px;
  border-radius: 12px;
}

.travel__card_paris {
  background: url(../img/flight/paris.jpg) no-repeat center/cover;
}

.travel__card_london {
  background: url(../img/flight/london.jpg) no-repeat center/cover;
}

.travel__card_columbia {
  background: url(../img/flight/columbia.jpg) no-repeat center/cover;
}

.travel__info {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.travel__titel {
  font-size: 24px;
  line-height: 120%;
  color: #fff;
}

.travel__text {
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.travel__priсe {
  font-size: 24px;
  line-height: 120%;
  color: #fff;
}

.travel__btn {
  background: #8DD3BB;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.travel__btn:hover {
  background: #e7e76a;
}

.listing {
  padding: 50px 0 274px 0;
}

.listing__box-shadow {
  -webkit-box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
}

.listing__info {
  margin: 12px 0;
}

.listing__input {
  background: url(../img/glass.svg) no-repeat center #8DD3BB;
  width: 56px;
  height: 56px;
  position: relative;
  top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.listing__input:hover {
  background: url(../img/glass.svg) no-repeat center #e7e76a;
}

.listing__box {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 343px 2fr;
  gap: 0 23px;
}

.listing__content-inner {
  padding: 0 0 5px 15px;
  border-left: 1px solid rgba(22, 41, 18, 0.3);
}

.listing__butttons {
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
}

.listing__btn {
  background: #fff;
  max-width: 160px;
  width: 100%;
  padding: 18px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 4px solid #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
}

.listing__btn_other {
  padding: 30px 10px 31px 39px;
  position: relative;
}

.listing__btn-span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.6;
}

.listing__border {
  background: #D7E2EE;
  width: 48px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.listing__burger {
  background: #000;
  position: absolute;
  top: 39px;
  left: 10px;
  display: block;
  width: 17px;
  height: 2px;
}

.listing__burger::after,
.listing__burger::before {
  background: #000;
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 2px;
}

.listing__burger::after {
  top: 8px;
}

.listing__burger::before {
  top: -7px;
}

.listing__content-filter {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.listing__show {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.listing__places {
  color: #FF8682;
}

.listing__content-fieldest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listing__content-legend {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.listing__content-select {
  background: #FAFBFC;
  border: none;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.listing__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}

.listing__content-card {
  background: #fff;
  width: 100%;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
}

.listing__content-img {
  width: 100%;
}

.listing__content-item {
  width: 80%;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px 0;
}

.listing__content-reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.listing__content-review {
  font-size: 12px;
  line-height: 120%;
  color: #112211;
}

.listing__rating {
  padding: 9px 11px;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
  font-size: 12px;
  line-height: 120%;
  color: #112211;
}

.listing__sum {
  font-size: 12px;
  line-height: 120%;
  color: #112211;
}

.listing__content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 12px;
  line-height: 120%;
  color: #112211;
}

.listing__price {
  font-size: 24px;
  line-height: 120%;
  color: #FF8682;
}

.listing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px 0;
}

.listing__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listing__form-input {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.listing__time {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
}

.listing__company {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.4;
}

.listing__info-fly {
  margin: 0 40px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.8;
}

.listing__form-inner {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 16px;
  border-top: 1px solid rgba(25, 50, 25, 0.3);
}

.listing__input-btn {
  background: url(../img/listing/heart.svg) no-repeat center;
  width: 48px;
  height: 48px;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.listing__input-btn:hover {
  background: url(../img/listing/heart.svg) no-repeat center #e7e76a;
  cursor: pointer;
}

.listing__form-btn {
  background: #8dd3bb;
  width: 89%;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.listing__form-btn:hover {
  background: #e7e76a;
}

.listing__content-box {
  margin-top: 24px;
  padding-left: 15px;
}

.listing__button {
  background: #112211;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.listing__button:hover {
  background: #e7e76a;
  color: #112211;
}

.listing .mixitup-control-active {
  border-bottom: 4px solid #8DD3BB;
}

.header {
  background: #fff;
  width: 100%;
}

.header_index {
  background: transparent;
  position: absolute;
  color: #fff;
  z-index: 10;
}

.nav {
  padding: 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
}

.menu__link {
  font-size: 14px;
  line-height: 120%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link_airplane {
  padding-left: 28px;
  position: relative;
}

.menu__link_airplane::before {
  background: url(../img/airplane.svg);
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 24px;
  height: 20px;
}

.menu__link_airplane::after {
  background: #8DD3BB;
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -34px;
  left: 0;
  display: none;
}

.menu__link_airplane:hover::after {
  display: block;
}

.menu__link_hotel {
  padding-left: 28px;
  position: relative;
}

.menu__link_hotel::before {
  background: url(../img/hotel.svg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 18px;
}

.menu__link_hotel::after {
  background: #8DD3BB;
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -34px;
  left: 0;
  display: none;
}

.menu__link_hotel:hover::after {
  display: block;
}

.menu__link_airplane-index {
  padding-left: 28px;
  position: relative;
}

.menu__link_airplane-index::before {
  background: url(../img/index/airplane.svg);
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 24px;
  height: 20px;
}

.menu__link_hotel-index {
  padding-left: 28px;
  position: relative;
}

.menu__link_hotel-index::before {
  background: url(../img/index/hotel.svg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 18px;
}

.menu__link_color:hover {
  color: #8DD3BB;
}

.menu__link_sign {
  background: #112211;
  padding: 15px 24px;
  color: #fff;
  border-radius: 8px;
}

.menu__link_sign:hover {
  color: #8DD3BB;
}

.menu__link_sign-index {
  background: #fff;
  padding: 15px 24px;
  color: #112211;
  border-radius: 8px;
}

.menu__link_sign-index:hover {
  background: #112211;
  color: #8DD3BB;
}

.active::after {
  display: block;
}

.logo__img {
  position: relative;
  z-index: 5;
}

.menu-mobile,
.menu-btn {
  display: none;
}

.intro {
  background: url(../img/bgintro.jpg) no-repeat center/cover;
  padding-top: 150px;
  width: 100%;
  border-radius: 24px;
  position: relative;
}

.intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 24px;
}

.intro__inner {
  position: relative;
  z-index: 5;
}

.intro__suptitel {
  font-size: 45px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.intro__titel {
  margin: 4px 0 16px 0;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.intro__subtitel {
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.intro__search {
  background: #fff;
  padding-top: 20px;
  max-width: 1232px;
  width: 100%;
  position: relative;
  z-index: 5;
  bottom: -250px;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 16px rgba(141, 211, 187, 0.3);
  box-shadow: 0 4px 16px rgba(141, 211, 187, 0.3);
}

.intro__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.intro__btn {
  background: #fff;
  padding: 0 11px 10px 32px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
  cursor: pointer;
  border: none;
  position: relative;
}

.intro__btn::before {
  content: "";
  width: 24px;
  height: 20px;
  position: absolute;
  left: 0;
  top: o;
}

.intro__btn_airplane::before {
  background: url(../img/airplane.svg);
}

.intro__btn_hotel::before {
  background: url(../img/hotel.svg);
  width: 22px;
  height: 18px;
}

.intro__span {
  background: #D7E2EE;
  width: 48px;
  height: 1px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.intro .mixitup-control-active {
  border-bottom: 4px solid #8DD3BB;
}

.trip {
  padding-top: 330px;
}

.trip__content {
  margin: 40px 0 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.trip__link {
  display: inline-block;
}

.trip__card {
  background: #fff;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.trip__card:hover {
  background: #79747E;
}

.trip__card:hover .trip__info-titel {
  color: #0ad8ef;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.trip__card:hover .trip__info-text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ff7b00;
}

.trip__card-img {
  width: 100%;
  border-radius: 8px;
}

.trip__info-titel {
  font-size: 16px;
  line-height: 120%;
  color: #112211;
  opacity: 0.7;
}

.trip__info-text {
  margin-top: 8px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.trip__intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
}

.trip__intro-inner {
  width: 100%;
  position: relative;
}

.trip__intro-inner::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -1px;
  position: absolute;
  background: #10171B;
  opacity: 0.4;
  border-radius: 20px;
}

.trip__intro-img {
  width: 100%;
  border-radius: 20px;
}

.trip__intro-info {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trip__intro-titel {
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}

.trip__intro-text {
  margin: 8px 0 16px 0;
  max-width: 389px;
  width: 100%;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}

.reviews {
  padding: 70px 0 244px 0;
}

.reviews__content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}

.reviews__card {
  background: #fff;
  padding: 24px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.3);
}

.reviews__titel {
  font-size: 24px;
  line-height: 120%;
  color: #112211;
}

.reviews__text {
  margin: 16px 0 12px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.5;
}

.reviews__inner {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.reviews__link {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.reviews__link:hover {
  color: #be0404;
}

.reviews__stars {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 12px;
}

.reviews__name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.reviews__studio {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.5;
}

.reviews__browser {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 8px;
}

.reviews__browser-img {
  width: 100%;
}

.reviews__browser-name {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.5;
}

.reviews__img {
  width: 100%;
  border-radius: 8px;
}

.footer {
  background: #8DD3BB;
  width: 100%;
  position: relative;
}

.footer__box {
  background: #CDEAE1;
  max-width: 1232px;
  width: 100%;
  padding: 0 24px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: -154px;
  -webkit-box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.3);
}

.footer__mail {
  padding: 24px 0;
}

.footer__titel {
  max-width: 350px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 120%;
  color: #112211;
}

.footer__subtitel {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 120%;
  color: #112211;
  opacity: 0.8;
}

.footer__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
  opacity: 0.7;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}

.footer__input {
  padding: 18px 16px;
  max-width: 473px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 120%;
  color: #1C1B1F;
}

.footer__button {
  background: #112211;
  padding: 19px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  cursor: pointer;
}

.footer__img {
  width: 100%;
  height: 100%;
}

.footer__inner {
  position: relative;
  top: -64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 12px;
}

.footer__social-link {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__social-link:hover {
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.footer__nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 0 24px;
}

.footer__nav-titel {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 120%;
  color: #112211;
}

.footer__item {
  margin-bottom: 12px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  color: #1b0c03;
  opacity: 1;
}

.flights {
  background: url(../img/flight/airport.jpg) no-repeat center/cover;
  padding-top: 80px;
}

.flights__titel {
  max-width: 440px;
  width: 100%;
  margin-bottom: 8px;
  font-size: 45px;
  line-height: 120%;
  color: #fff;
}

.flights__subtitel {
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.flights__search {
  position: relative;
  bottom: -180px;
  -webkit-box-shadow: 0 4px 16px rgba(141, 211, 187, 0.3);
  box-shadow: 0 4px 16px rgba(141, 211, 187, 0.3);
}

.world {
  padding-top: 260px;
}

.world__map {
  background: #8DD3BB;
  margin-top: 24px;
}

.world__inner {
  background: url(../img/flight/map.svg) no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 488px;
}

.world__link {
  display: inline-block;
  position: relative;
}

.world__link_position {
  left: 195px;
  top: 70px;
}

.world__link_top {
  left: 690px;
  top: 85px;
}

.world__link_left {
  left: 635px;
  top: 255px;
}

.world__link_right {
  left: 50px;
  top: 281px;
}

.world__link_bottom {
  left: -453px;
  top: 293px;
}

.world__card {
  background: #fff;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 8px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.world__card:hover {
  background: #79747E;
}

.world__card:hover .world__name,
.world__card:hover .world__pass {
  color: #0ad8ef;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.world__img {
  width: 100%;
  border-radius: 4px;
}

.world__name {
  font-size: 16px;
  line-height: 120%;
  color: #112211;
}

.world__pass {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.travel-info {
  padding-top: 80px;
}

.traveling {
  padding: 80px 0 274px 0;
}

.traveling__content {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 24px;
}

.traveling__info {
  background: #8DD3BB;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 24px;
  border-radius: 20px;
}

.traveling__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.traveling__titel {
  max-width: 360px;
  width: 100%;
  font-size: 40px;
  line-height: 120%;
  color: #112211;
}

.traveling__total {
  background: #fff;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px 0;
  border-radius: 8px;
}

.traveling__total-text {
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.traveling__price {
  font-size: 20px;
  line-height: 120%;
  color: #112211;
}

.traveling__text {
  margin: 24px 0 120px 0;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
}

.traveling__btn {
  background: #fff;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #112211;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.traveling__btn:hover {
  background: #e7e76a;
}

.traveling__image {
  border: 2px solid #8DD3BB;
  border-radius: 12px;
}

.traveling__img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.hotel-search {
  background: url(../img/hotel/hotel.jpg) no-repeat center/cover;
}

.recent {
  padding-top: 260px;
}

.recent__titel {
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 120%;
  color: #000;
}

.recent__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@supports (-webkit-appearance:none) {
  .search__input_img {
    background: url(../img/hotel.svg) no-repeat 1% center;
  }

  .search__input_vector {
    background: url(../img/search/vector.svg) no-repeat 98% center;
  }

  .search__select-room_img {
    background: url(../img/search/man.svg) no-repeat 2% center;
  }

  .search__btn_plane::before {
    background: url(../img/search/plane.webp);
  }

  .search__btn_build::before {
    background: url(../img/search/building.svg);
  }

  .travel__card {
    background-image: url(../img/flight/melbourne.webp);
  }

  .travel__card_paris {
    background-image: url(../img/flight/paris.webp);
  }

  .travel__card_london {
    background-image: url(../img/flight/london.webp);
  }

  .travel__card_columbia {
    background-image: url(../img/flight/columbia.webp);
  }

  .listing__input {
    background-image: url(../img/glass.svg);
  }

  .listing__input:hover {
    background-image: url(../img/glass.svg);
  }

  .listing__input-btn {
    background-image: url(../img/listing/heart.svg);
  }

  .listing__input-btn:hover {
    background-image: url(../img/listing/heart.svg);
  }

  .menu__link_airplane::before {
    background-image: url(../img/airplane.svg);
  }

  .menu__link_hotel::before {
    background-image: url(../img/hotel.svg);
  }

  .menu__link_airplane-index::before {
    background-image: url(../img/index/airplane.svg);
  }

  .menu__link_hotel-index::before {
    background-image: url(../img/index/hotel.svg);
  }

  .intro {
    background-image: url(../img/bgintro.webp);
  }

  .intro__btn_airplane::before {
    background: url(../img/airplane.svg);
  }

  .intro__btn_hotel::before {
    background: url(../img/hotel.svg);
  }

  .flights {
    background-image: url(../img/flight/airport.webp);
  }

  .world__inner {
    background-image: url(../img/flight/map.svg);
  }

  .hotel-search {
    background-image: url(../img/hotel/hotel.webp);
  }
}

@media (max-width: 1275px) {
  .world__link_position {
    left: 55px;
    top: 70px;
  }

  .world__link_top {
    left: 547px;
    top: 85px;
  }

  .world__link_left {
    left: 495px;
    top: 255px;
  }

  .world__link_right {
    left: -90px;
    top: 281px;
  }

  .world__link_bottom {
    left: -593px;
    top: 293px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1245px) {
  .travel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .travel__card {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1135px) {
  .world__link_position {
    left: 20px;
    top: 70px;
  }

  .world__link_top {
    left: 477px;
    top: 85px;
  }

  .world__link_left {
    left: 417px;
    top: 255px;
  }

  .world__link_right {
    left: -160px;
    top: 281px;
  }

  .world__link_bottom {
    left: -663px;
    top: 293px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1075px) {
  .world__inner {
    padding: 20px 0;
    background-image: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    height: 100%;
    gap: 20px;
  }

  .world__card {
    padding: 10px;
  }

  .world__link_position,
  .world__link_top,
  .world__link_left,
  .world__link_right,
  .world__link_bottom {
    top: 0;
    left: 0;
  }

  .traveling__titel {
    max-width: 100%;
    width: 70%;
    font-size: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 990px) {
  .search__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px 0;
  }

  .intro__suptitel {
    font-size: 30px;
  }

  .intro__titel {
    font-size: 60px;
  }

  .trip__info-titel {
    font-size: 14px;
  }

  .reviews__titel {
    font-size: 16px;
  }

  .reviews__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 827px) {
  .recent__content {
    grid-template-columns: repeat(2, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 800px) {
  .traveling__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .traveling__info {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .traveling__text {
    margin: 24px 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 750px) {
  .footer__box {
    padding: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__titel {
    font-size: 20px;
  }

  .footer__subtitel {
    font-size: 16px;
  }

  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__input {
    max-width: none;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px 0;
  }

  .footer__nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .search__button {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px 0;
  }

  .intro__suptitel {
    font-size: 20px;
  }

  .intro__titel {
    font-size: 40px;
  }

  .intro__subtitel {
    font-size: 16px;
  }

  .trip__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 650px) {
  .travel {
    grid-template-columns: repeat(1, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 610px) {
  .header {
    position: fixed;
    z-index: 10;
  }

  .nav {
    padding: 12px 0;
  }

  .menu {
    display: none;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link_airplane::before {
    top: 4px;
  }

  .menu__link_hotel::before {
    top: 6px;
  }

  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 125, 204, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu-mobile._active {
    left: 0;
  }

  .menu-mobile::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    background-color: #fff;
    z-index: 2;
  }

  .menu-mobile_color::before {
    background-color: #7975bb;
    -webkit-filter: blur(33px);
    filter: blur(33px);
  }

  .menu-btn {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    background-color: transparent;
    border: none;
  }

  .menu-btn span,
  .menu-btn::before,
  .menu-btn::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu-btn_color span,
  .menu-btn_color::before,
  .menu-btn_color::after {
    background-color: #fff;
  }

  .menu-btn::before,
  .menu-btn::after {
    content: "";
  }

  .menu-btn::before {
    top: 0;
  }

  .menu-btn::after {
    bottom: 0;
  }

  .menu-btn span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }

  .menu-btn._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }

  .menu-btn._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-btn._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 557px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px 0;
  }

  .heading__titel {
    font-size: 16px;
    text-align: center;
  }

  .heading__subtitel {
    font-size: 14px;
    text-align: center;
  }

  .trip__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .trip__card {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .flights__titel {
    font-size: 25px;
    text-align: center;
  }

  .flights__subtitel {
    text-align: center;
  }

  .world__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .traveling__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .traveling__info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .recent__titel {
    font-size: 16px;
    text-align: center;
  }

  .recent__content {
    grid-template-columns: repeat(1, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 533px) {
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 365px) {
  .footer__nav {
    grid-template-columns: repeat(1, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 340px) {
  .traveling__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px 0;
  }

  .traveling__titel {
    text-align: center;
  }

@supports (-webkit-appearance:none) {

}
}