$default-color: #112211;
$default-bg: #FAFBFC;

%Manrope-Regular {
    font-family: "Manrope-Regular";
    font-style: normal;
    font-weight: 400;
}
%Montserrat-Bold {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: 700;
}
%Montserrat-Medium {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;
}
%Montserrat-Regular {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
}
%Montserrat-SemiBold {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
}
%Neue-Metana {
    font-family: "Neue-Metana";
    font-style: normal;
    font-weight: 400;
}
%TradeGothicLTExtended {
    font-family: "TradeGothicLTExtended";
    font-style: normal;
    font-weight: 400;
}
%TradeGothicLTStd-BoldExt {
    font-family: "TradeGothicLTStd-BoldExt";
    font-style: normal;
    font-weight: 700;
}